[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/gen-xfakes"]
	path = ext/gen-xfakes
	url = https://github.com/jwgrenning/gen-xfakes.git
